<div class="search_div">
	<%= form_with url: '/itineraries', method: :get , :html => {class: "form-vertical itineraries-form", role: "form"} do |f| %>
	<div class="form-group">
		<div class="form-group inline-first">
      <input type="text" name="source" id="source" list="src" placeholder="Source" autocomplete="off" class="distinctecity">
        <% cities = get_all_cities %>
        <datalist id="src">
          <% cities.each do |city| %>
            <option value= <%= city %>>
          <% end %>
        </datalist>
      </div>
      <div class="form-group inline-first">
      	<div><%= image_tag("/assets/wayto.png", size: "32", id: "wayto") %></div>
      </div>
      <div class="form-group inline-first">
        <input type="text" name="destinition" id="destinition" list="des" placeholder="Destinition" autocomplete="off" class="distinctecity">
        <% cities = get_all_cities %>
        <datalist id="des">
          <% cities.each do |city| %>
            <option value= <%= city %>>
          <% end %>
        </datalist>
      </div>
	</div>
	<div class="form-group">
        <%= date_field_tag :date, nil, class: "form-control date", autocomplete: "off", min: Time.now.strftime("%Y-%m-%d")%>
      </div>
      <div class="form-group">
        <%= f.submit "SEARCH", class: "btn form-control btn-primary", id: "search_btn" %>
      </div>
    <% end %>
</div>