<div class="search_div">
	<%= form_tag('/flights/find', remote: true, method: 'GET', :html => {class: "form-vertical", role: "from"}) do |f| %>
	<div class="form-group text-box-class">
		<div class="form-group inline-first">
        <%= text_field_tag :source, nil, placeholder: "Source", class: "form-control", required: "required"%>
      </div>
      <div class="form-group inline-first">
      	<div><%= image_tag("/assets/wayto.png", size: "32") %></div>
      </div>
      <div class="form-group inline-first">
        <%= text_field_tag :destinition, nil, placeholder: "Destination", class: "form-control", required: "required"%>
      </div>
	</div>
	<div class="form-group">
        <%= date_field_tag :date, nil, class: "form-control date", required: "required"%>
      </div>
      <div class="form-group">
        <%= button_tag "SEARCH", class: "btn form-control btn-primary", id: "search_btn" %>
      </div>
    <% end %>
</div>