<div class="container-fluid booking jumbotron">
  <% will_paginate @booking %>
  <div class="text-center bold">Your Trips</div>
    <div class="list">
      <table>
        <tr>
          <th>DATE OF JOURNEY</th>
          <th>AIRLINE</th>
          <th>FLIGHT ID</th>
          <th>SOURCE</th>
          <th>DESTINITON</th>
          <th>TIME DURATION</th>
          <th>AMOUNT CHARGED</th>
          <th>STATUS</th>
          <th></th>
        </tr>
        <% @booking.each do |booking| %>
        <tr>
          <td><%= link_to booking.date, booking_path(booking.id)%></td>
          <td><%= image_tag(get_schedule_flight_image(booking), size: "32") %> <%= get_schedule_flight_airline_name(booking) %>
          </td>
          <td><%= booking.get_flight.number %></td>
          <td>
            <%= booking.get_flight.source.capitalize %>
              (<%= get_schedule_detail(booking).depart_time.strftime("%H:%M")%>)
          </td>
          <td>
            <%= booking.get_flight.destinition.capitalize %>
            (<%= get_schedule_detail(booking).arrival_time.strftime("%H:%M") %>)
          </td>
          <td>
            <%= get_differnce_between_depart_time_and_arrival_time(booking) %>
          </td>
          <td id="cost<%= booking.id %>">
            <% if booking.status == 'confirmed' %>
              <%= "₹ "+booking.cost.to_s %>
            <% else %>
              <del><%= "₹ "+booking.cost.to_s %></del>
            <% end %>
          </td>
          <% if booking.status == 'confirmed' %>
            <td class="text-success status" id="status<%= booking.id %>">
              <%= booking.status.capitalize %>
            </td>
          <% else %>
            <td class="text-danger status">
              <%= booking.status.capitalize %>
            </td>
          <% end %>
          <% if booking.status == 'confirmed' && current_user.present? %>
            <th colspan="2">
            <%= link_to "CANCEL BOOKING", 'javascript:void(0)',booking_id: booking.id, class: 'btn btn-xs btn-danger cbtn cancel_booking_button', id: 'cancel_button'+booking.id.to_s %>
            </th>
          <% end%>
        </tr>
        <% end %>
      </table>
    </div>
  <center><%= paginate @booking %></center>
</div>