<!DOCTYPE html>
<html>
  <head>
    <title>Trip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <%= render 'layouts/navigation' %>
      <div class="container-fluid bg">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <div class="load">
          <%= render 'bookings/loader' %>
        </div>
      </div>
      <h5 class="bottom text-center eliminate_from_pdf">Copyright©</h5>
  </body>
</html>
