<!DOCTYPE html>
<html>
  <head>
    <title>Trip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render 'layouts/navigation' %>
      <% if can? :update, User %>
        <%= render 'layouts/sidebar' %>
      <% end %>
    <div class="container-fluid bg">
      <%= render 'layouts/messages' %>
      <div class="right-tab">
        <%= yield %>
      </div>
      <div class="load">
        <%= render 'bookings/loader' %>
      </div>
    </div>
    <h5 class="bottom text-center eliminate_from_pdf">Copyright©</h5>
  </body>
</html>

<style type="text/css">
  .alert{
    position: absolute;
    width: 81%;
    margin-left: 18%;
  }
</style>
